html, body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Lora', serif;
  overflow: hidden;
}

button {
  font-family: 'Lora', serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.gameStart {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #F4F7F4;
  z-index: 1;
  text-align: center;
}

.gameStart h1 {
  font-family: 'Merienda One', cursive;
  font-size: 12vw;
  margin-top: 55px;
  margin-bottom: 0;
  color: rgb(244, 247, 244);
  text-shadow:
    0 1px 0px #378ab4,
    1px 0 0px #5dabcd,
    1px 2px 1px #378ab4,
    2px 1px 1px #5dabcd,
    2px 3px 2px #378ab4,
    3px 2px 2px #5dabcd,
    3px 4px 2px #378ab4,
    4px 3px 3px #5dabcd,
    4px 5px 3px #378ab4,
    5px 4px 2px #5dabcd,
    5px 6px 2px #378ab4,
    6px 5px 2px #5dabcd,
    6px 7px 1px #378ab4,
    7px 6px 1px #5dabcd,
    7px 8px 0px #378ab4,
    8px 7px 0px #5dabcd;
}

.gameInstructions {
  display: flex;
  position: absolute;
  width: 300%;
  height: 60vh;
  overflow: hidden;
}

.firstInstruction,
.secondInstruction,
.thirdInstruction {
  position: relative;
  display: flex;
  width: calc(100% / 3);
  height: 100%;
}

.instruction {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  margin: auto;
  color: rgba(60, 179, 113, 1);
}

.leftSpace,
.rightSpace {
  position: relative;
  width: 50%;
  margin: 0;
}

.leftScreen,
.rightScreen {
  position: absolute;
  top: 20%;
  width: 70%;
  height: 55%;
}

.leftScreen {
  left: 25%;
  background-color: rgba(173, 216, 230, 1);
}

.rightScreen {
  right: 25%;
  background-color: rgba(240, 128, 128, 1);
}

.firstInstruction .leftScreen {
  animation: fadeInMoveRight 1.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.firstInstruction .rightScreen {
  animation: fadeInMoveLeft 1.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.leftFinger,
.rightFinger {
  display: none;
  position: absolute;
  top: 40%;
  width: 33%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 100%;
}

.leftFinger {
  left: 40%;
  animation: fingerMoveRight 1s ease-in-out infinite;
}

.rightFinger {
  right: 40%;
  animation: fingerMoveLeft 1s ease-in-out infinite;
}

.leftStriker {
  display: none;
  position: absolute;
  top: 40%;
  left: 15%;
  width: 30%;
  height: 18%;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 100%;
  animation: leftStrikerMove 3s ease-in-out infinite;
}

.rightStriker {
  display: none;
  position: absolute;
  top: 40%;
  right: 15%;
  width: 30%;
  height: 18%;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 100%;
  animation: rightStrikerMove 3s ease-in-out infinite;
}

.wrapper {
  position: relative;
  height: 100%;
}

.strikerHandle {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 40%;
  height: 40%;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 100%;
}

.ball {
  display: none;
  position: absolute;
  top: 45%;
  left: 65%;
  width: 15%;
  height: 9%;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 100%;
}

.controlBtn {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 8vh;
}

.controlBtn .nextBtn,
.controlBtn .prevBtn {
  background-color: lightblue;
  border: none;
  outline: none;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  border-radius: 3px;
  padding: 10px;
  color: white;
}

.controlBtn .nextBtn {
  margin-left: 8px;
  margin-right: 8px;
  -webkit-animation: breathing 1.2s ease-out infinite normal;
  animation: breathing 1.2s ease-out infinite normal;
}

.controlBtn .prevBtn {
  display: none;
  font-size: 18px;
  margin: 4px 8px;
}

.winInfo,
.loseInfo {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 1;
  text-align: center;
}

.winInfo .wrapper,
.loseInfo .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.winInfo h1,
.loseInfo h1 {
  font-family: 'Merienda One', cursive;
  font-size: 64px;
}

.winInfo button,
.loseInfo button {
  background-color: lightblue;
  border: none;
  outline: none;
  font-size: 20px;
  width: 30%;
  margin: 8px;
  -webkit-font-smoothing: antialiased;
  border-radius: 3px;
  padding: 10px;
  color: white;
}

@-webkit-keyframes fadeInMoveRight {
  from {
    opacity: 0;
    left: 10% 
  }
  to {
    opacity: 1;
    left: 25%
  }
}

@keyframes fadeInMoveRight {
  from {
    opacity: 0;
    left: 10% 
  }
  to {
    opacity: 1;
    left: 25%
  }
}

@-webkit-keyframes fadeInMoveLeft {
  from {
    opacity: 0;
    right: 10% 
  }
  to {
    opacity: 1;
    right: 25%
  }
}

@keyframes fadeInMoveLeft {
  from {
    opacity: 0;
    right: 10% 
  }
  to {
    opacity: 1;
    right: 25%
  }
}

@-webkit-keyframes fingerMoveRight {
  from { left: 38%; }
  to { left: 72%; }
}

@keyframes fingerMoveRight {
  from { left: 38%; }
  to { left: 72%; }
}

@-webkit-keyframes fingerMoveLeft {
  from { right: 38%; }
  to { right: 72%; }
}

@keyframes fingerMoveLeft {
  from { right: 38%; }
  to { right: 72%; }
}

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@-webkit-keyframes leftStrikerMove {
  0% {
    top: 40%;
    left: 15%;
  }

  20% {
    top: 40%;
    left: 35%;
  }

  40% {
    top: 40%;
    left: 15%;
  }

  60% {
    top: 60%;
    left: 15%;
  }

  80% {
    top: 20%;
    left: 15%;
  }

  100% {
    top: 40%;
    left: 15%;
  }
}

@keyframes leftStrikerMove {
  0% {
    top: 40%;
    left: 15%;
  }

  20% {
    top: 40%;
    left: 35%;
  }

  40% {
    top: 40%;
    left: 15%;
  }

  60% {
    top: 60%;
    left: 15%;
  }

  80% {
    top: 20%;
    left: 15%;
  }

  100% {
    top: 40%;
    left: 15%;
  }
}

@-webkit-keyframes rightStrikerMove {
  0% {
    top: 40%;
    right: 15%;
  }

  20% {
    top: 40%;
    right: 35%;
  }

  40% {
    top: 40%;
    right: 15%;
  }

  60% {
    top: 20%;
    right: 15%;
  }

  80% {
    top: 60%;
    right: 15%;
  }

  100% {
    top: 40%;
    right: 15%;
  }
}

@keyframes rightStrikerMove {
  0% {
    top: 40%;
    right: 15%;
  }

  20% {
    top: 40%;
    right: 35%;
  }

  40% {
    top: 40%;
    right: 15%;
  }

  60% {
    top: 20%;
    right: 15%;
  }

  80% {
    top: 60%;
    right: 15%;
  }

  100% {
    top: 40%;
    right: 15%;
  }
}

@media (orientation: landscape) {
  .gameStart h1 {
    font-size: 12vh;
    margin-top: 25px;
    margin-bottom: 0;
  }

  .leftScreen,
  .rightScreen {
    top: 16%;
    width: 60%;
    height: 65%;
  }

  .leftScreen {
    left: 35%;
  }

  .rightScreen {
    right: 35%;
  }

  .leftFinger,
  .rightFinger {
    top: 35%;
    width: 25%;
    height: 34%;
  }

  .leftStriker,
  .rightStriker {
    width: 21%;
    height: 30%;
  }

  .ball {
    top: 48%;
    width: 9%;
    height: 13%;
  }

  .instruction {
    top: 2%;
  }

  @-webkit-keyframes fingerMoveRight {
    from {left: 60%;}
    to {left: 83%;}
  }

  @keyframes fingerMoveRight {
      from {left: 60%;}
      to {left: 83%;}
  }

  @-webkit-keyframes fingerMoveLeft {
      from {right: 60%;}
      to {right: 83%;}
  }

  @keyframes fingerMoveLeft {
      from {right: 60%;}
      to {right: 83%;}
  }
}
